*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../imagens/fundo2.jpg");
  /* background-image: linear-gradient( to right, #ffffff, #f83600, #ffffff, #f83600, #ffffff, #f83600, #ffffff, #f83600 );*/
    background-attachment: fixed;

}

.navbar-brand img{
    width: 150px;
   
}

.carrocel{
   height: 700px;
    
}

